@charset "UTF-8";

#inus_CmContent.comment-input{
   width:89%;
   height:50px;
   float:left;
}
.comment-sbox{
   border-top:1px solid #ccc;
}
.comment_Box{
	overflow-y: scroll;
   -ms-overflow-style: none;
   height:60px;
}
.comment_Box::-webkit-scrollbar{
  display:none;
}
#commentBox{
	margin-bottom:7px;
}
.comment-name{
   height:0px;
}
.regBtn{
   color:#59acff;;
}
input#Comment_regist {
    height: 50px;
    width: 10%;
    cursor: pointer;
    border:none;
    background:#fff;
}

input:focus{
   outline:none;
}

#inus_CmWriter{
   width:80px;
   float:left;
   margin-left:15px;
}
.comment-boxx{
   margin-bottom:5px;
}
#inus_CmContent{
   width:410px;
   float:left;
}
input#CommentDeleteBtn {
    width: 65px;
    cursor: pointer;
    border:none;
    background:#fff;
    float:right;
    margin-bottom: 5px;
    
}